.iconos{
    display:flex;
    justify-content: space-between;
}
.instagrampost{
    width: 400px;
    height: 700px;
    margin:auto;
    background-color: white;
}
body{
background-color: black;
}
.Superior{
    display:flex;
    justify-content: space-between;
}
.iconohtml{
    font-size: 35px;
    width:0px;
    align-content: center;
}
.puntos{
font-size: 35px;
}
.texto{
    line-height:0%;
    width: 310px;
    align-content: end;
}
.iconos2{
    width:20px;
}
.puntos{
    width: 15px;
    align-content: center;
}
    